.Card {
    width: 29%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    margin-left: 3%;
    margin-top: 3%;

    .link-card {
        width: 100%;
        text-decoration: none;
        cursor: pointer;

        .picture {
            object-fit: cover;
            width: 26%;
            height: 300px;
            border-radius: 10px;
            position: absolute;
        }

        .title {
            position: relative;
            color: white;
            top: 230px;
            font-size: 18px;
            left: 17px;
            width: 64%;
        }
    }
}

@media screen and (max-width:1439px) {
    .Card {
        .link-card {
            .title {
                font-size: 14px;
                width: 70%;
                top: 240px
            }
        }
    }
}

@media screen and (max-width:1011px) {
    .Card {
        .link-card {
            .title {
                font-size: 13px;
                width: 80%;
                top: 250px
            }
        }
    }
}

@media screen and (max-width:821px) {
    .Card {
        .link-card {
            .title {
                top: 230px
            }
        }
    }
}

@media screen and (max-width:767px) {
    .Card {
        width: 100%;
        margin-left: 0;
        margin-top: 3%;

        .link-card {
            .picture {
                width: 90%;
                margin: 0 auto;
            }

            .title {
                top: 220px;
                font-size: 20px;
                width: 50%;
            }
        }
    }
}

@media screen and (max-width:558px) {
    .Card {
        .link-card {
            .title {
                top: 220px;
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width:380px) {
    .Card {
        .link-card {
            .title {
                top: 230px;
                font-size: 13px;
            }
        }
    }
}