.arrow-next {
    position: absolute;
    right: 90px;
    top: 160px;
    height: 60px;
}

.arrow-prev {
    position: absolute;
    top: 160px;
    height: 60px;
    left: 90px;
}

.index {
    position: absolute;
    color: white;
    bottom: 20px
}

@media screen and (max-width:1011px) {
    .arrow-next {
        right: 60px;
        top: 140px;
        height: 40px;
    }

    .arrow-prev {
        top: 140px;
        height: 40px;
        left: 60px;
    }

    .index {
        bottom: 10px
    }
}

@media screen and (max-width:425px) {
    .arrow-next {
        right: 30px;
        height: 20px;
    }

    .arrow-prev {
        height: 20px;
        left: 30px;
    }

    .index {

        font-size: 13px
    }
}

@media screen and (min-width: 1600px) {
    .arrow-next {
        right: 160px;
    }

    .arrow-prev {
        left: 160px;
    }
}