.Gallery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 4% auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding-bottom: 3%;
}

@media screen and (max-width:767px) {
    .Gallery {
        flex-direction: column;
        background-color: #FFFF;
        margin-top: 2%;
    }
}