@import "../_variables";

.navigation {
    width: 18%;
    display: flex;
    justify-content: space-between;

    .nav {
        text-decoration: none;
        color: $primary-color;
    }

    .nav-active {
        text-decoration: none;
        color: $primary-color;
        border-bottom: $primary-color solid;
    }
}

@media screen and (max-width:850px) {
    .navigation {
        width: 25%;
    }
}

@media screen and (max-width:767px) {
    .navigation {
        width: 30%;

        .nav,
        .nav-active {
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width:720px) {
    .navigation {
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    .navigation {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .navigation {

        .nav,
        .nav-active {
            font-size: 13px;
        }

    }
}

@media screen and (max-width:340px) {
    .navigation {

        .nav,
        .nav-active {
            font-size: 11px;
        }

    }
}