.container-tag {
    display: flex;
    width: 50%;

    .tag {
        background-color: $primary-color;
        border-radius: 10px;
        height: 28px;
        margin-right: 3%;

        .text {
            color: white;
            text-align: center;
            margin: 4px 15px;
        }
    }
}